html{
    scroll-behavior: smooth;
}

a {
    color: white;
}
a:hover{
    color: #c4dde4;
    text-decoration: none;
}


.background-hello{
    height: 750px;
    background-image: url(../afbeeldingen/Hallo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #c4dde4;
}

h1, h2, h3, h4{
    color:#14514f;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

header{
    background-color: #14514f;
    color: #fff;
    padding: 25px;
}

footer{
    background-color: #14514f;
    color: #fff;
    padding: 25px;
}

.padding{
    padding-top: 50px;
}

.linkstyle{
    color:#14514f;
    background-color: #fff;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
    border: 1.5px solid #14514f;
    border-radius: 5px;
    transition-duration: 1s;
}

.linkstyle:hover{
    background-color: #14514f;
    color: #c4dde4;
}

.tab{
    display: inline-block;
    margin-left: 50px;
}

#about, #stage, #realisaties{
    padding-top: 145px;
    padding-bottom: 145px;
}

#stage{
    background-color: #c4dde4;
}

.bottomimg{
    /* move position */
    position: relative; 
    left:80px; 
    top: 450px;
    /* round img */
    border: 0px;
    border-radius: 230px;
    /* resize */
    object-fit: cover;
    width:230px;
    height:230px;
}

#centerText{
    /* needs absolute to position correctly */
    position: absolute;
    left: 50%;
    width: 50%;
    /* needs to change again to get the relative pos for the top */
    position: relative;
    top: 220px;
}
